.pageAbout {
    height: 125vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #3a54b4;
    transition: 500ms;
}

h2 {
    font-size: 3.8rem;
    margin-top: 4rem;
}

.div-about-infos{
    display: flex;
    align-items: center;
    margin: 2rem;
}

.pageAbout div span {
    font-weight: bold;
    font-size: 22px;
    width: 350px;
}

.pageAbout div p {
    width: 350px;
    margin: 10px;
}

.text-about{
    width: 350px;
    text-align: left;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 2rem 5rem;
}

@media(max-width: 769px){
    .pageAbout {
        height: 125%;
        width: 95%;
        padding: 20px 50px;
        margin: 3rem 0;
    }

    h2 {
        font-size: 2.8rem;
    }

    .div-about-infos{
        flex-direction: column;
    }

    .pageAbout div p {
        font-size: 1.3rem;
    }
}

@media(max-width: 426px){
    .pageAbout {
        height: 125%;
        width: 90%;
        margin: 2rem auto;
    }

    h2 {
        font-size: 1.2rem;
        margin-top: 4rem;
    }

    .div-about-infos{
        display: flex;
        align-items: center;
        margin: 2rem;
    }

    .div-about-infos img{
        width: 18rem;
    }
    
    .pageAbout div span {
        width: 300px;
        font-size: 1.2rem;
        text-align: left;
    }
    
    .pageAbout div p {
        width: 300px;
        margin: 0px;
        font-size: 1.1rem;
        text-align: left;
    }

    .text-about{
        width: 15rem;
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 2rem 5rem;
    }
}

@media(max-width: 376px){
    h2 {
        font-size: 2.1rem;
        width: 110%;
    }

    .div-about-infos img{
        width: 16rem;
    }

    .pageAbout div p {
        width: 19rem;
    }
}
