.pageAbout {
    height: 125vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #3a54b4;
    transition: 500ms;
}

h2 {
    font-size: 60px;
    margin-top: 64px;
}

.div-about-infos{
    display: flex;
    align-items: center;
    margin: 32px;
}

.pageAbout div span {
    font-weight: bold;
    font-size: 22px;
    width: 350px;
}

.pageAbout div p {
    width: 350px;
    margin: 10px;
}

.text-about{
    width: 350px;
    text-align: left;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 32px 80px;
}

@media(max-width: 769px){
    .pageAbout {
        height: 125%;
        width: 95%;
        padding: 20px 50px;
        margin: 48px 0;
    }

    h2 {
        font-size: 44px;
    }

    .div-about-infos{
        flex-direction: column;
    }

    .pageAbout div p {
        font-size: 20px;
    }
}

@media(max-width: 426px){
    .pageAbout {
        height: 125%;
        width: 90%;
        margin: 32px auto;
    }

    h2 {
        font-size: 19px;
        margin-top: 64px;
    }

    .div-about-infos{
        display: flex;
        align-items: center;
        margin: 32px;
    }

    .div-about-infos img{
        width: 288px;
    }
    
    .pageAbout div span {
        width: 300px;
        font-size: 19px;
        text-align: left;
    }
    
    .pageAbout div p {
        width: 300px;
        margin: 0px;
        font-size: 18px;
        text-align: justify;
    }

    .text-about{
        width: 240px;
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 32px 80px;
    }
}

@media(max-width: 376px){
    .pageAbout {
        height: 100%;
        margin: 32px auto;
    }

    h2 {
        font-size: 32px;
        width: 100%;
    }

    .div-about-infos img{
        width: 250px;
        margin: 0px;
    }

    .pageAbout div p {
        width: 300px;
        margin: -0px;
    }
}

@media(max-width: 321px){
    
    h2 {
        font-size: 24px;
        width: auto;
    }

    .div-about-infos{
        width: 100%;
        margin: 32px;
    }
    
    .div-about-infos img{
        width: 224px;
    }
    
    .pageAbout div span {
        width: 100%;
        font-size: 20px;
        text-align: center;
    }

    .pageAbout div p {
        width: 100%;
        text-align: justify;
    }
}
