header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: #fef7ed;
    padding: 20px 100px;

    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

header a {
    color: #3a54b4;
    text-decoration: none;
}

.logotipo a {
    font-size: 26px;
    font-weight: bold;
}

.image-logotipo {
    color: #3a54b4;
    font-size: 26px;
}

nav a {
    margin-left: 30px;
    font-size: 14px;
}

nav a:hover {
    color: #ffc0cb;
}

@media(max-width: 769px){
    header {
        padding: 20px 50px;
    }
}

@media(max-width: 426px){
    header{
        padding: 30px;  
    }
}
