.home-services {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #3a54b4;
}

.home-services h2{
    font-size: 48px;
    font-weight: bold;
    margin-top: 75px;
    margin-bottom: 0;
}

.cards-services{
    display: flex;
    margin-top: -50px;
}

.card-services {
    margin: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-services a{
    width: 100%;
    margin-left: 50%;
}

@media(max-width: 769px){
    .cards-services{
        flex-direction: column;
        margin-top: -50px;
        margin-bottom: 110px;
    }
}

@media(max-width: 426px){
    .home-services{
        height: 100%;
        margin-bottom: 0px;
    }
    .cards-services{
        flex-direction: column;   
    }

    .home-services h2{
        font-size: 48px;
        font-weight: bold;
        line-height: 110px;
        margin-top: 160px;
    }

    .card-services {
        margin: 48px;
    }

    .card-services a{
        width: 288px;
        margin-left: 0%;
    }
}

@media(max-width: 376px){
    .home-services {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: #3a54b4;
    }

    .home-services h2{
        font-size: 32px;
        margin-left: 0%;
        font-weight: bold;
        line-height: 112px;
        margin-top: 160px;
    }

    .card-services a{
        width: 240px;
    }

}