.cards-page-services{
    width: 175px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 3rem 5rem;
}

.cards-page-services h3 {
    margin: 15px auto;
}

.cards-page-services p {
    margin: 10px auto;
}

.cards-page-services button {
    width: 100%;
    padding: auto;
    text-align: center;
    align-items: center;
    margin: 20px auto;
    font-weight: bold;
    font-size: 15px;
}

@media(max-width: 769px){
    .cards-page-services{
        width: 50%;
        align-items: center;
    }

    .cards-page-services img {
        width: 175px;
    }

    .cards-page-services h3 {
        font-size: 2rem;
    }

    .cards-page-services p {
        margin: 10px auto;
        font-size: 1.5rem;
    }
}

@media(max-width: 426px){
    .cards-page-services h3 {
        font-size: 1.5rem;
    }

    .cards-page-services p {
        font-size: 1rem;
    }
}