.image-clients {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-clients h3 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 7rem;
    margin-top: 75px;
    margin-bottom: 0;
    color: #3a54b4;
}

.grid-imagens-clients {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    transition: 500ms;
}

@media(max-width: 426px){
    .image-clients {
        margin-top: 45rem;
    }

    .image-clients h3 {
        font-size: 2.5rem;
    }

    .grid-imagens-clients img{
        width: 375px;
    }

    .grid-imagens-clients {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media(max-width: 376px){
    .grid-imagens-clients img{
        width: 315px;
    }

    .image-clients h3 {
        font-size: 2rem;
    }
}

