.page-services{
    height: 100%;
    width: 100%;
    margin: 6rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #3a54b4;
}



.page-services section{
    display: flex;
}