.deposition-clients {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
}

.deposition-clients h3 {
    font-size: 50px;
    color: #3a54b4;
    margin: 15px 0;
}

.deposition-clients div {
    display: flex;
    justify-content: space-around;
}

@media(max-width: 769px){
    .deposition-clients {
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 5rem 0;
    }

    .deposition-clients div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

@media(max-width: 426px){
    .deposition-clients {
        margin-top: 70rem;
        margin-bottom: 20rem;
    }

    .deposition-clients h3 {
        font-size: 30px;
    }

    .deposition-clients div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }    
}