* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*#fef7ed*/
  /*Azul #3a54b4*/
  background-color: #fff;
  font-family: 'roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}


li:hover{
  cursor: pointer;
}

.App {
  width: 100%;
  margin: 0 auto;
}

a{
  text-decoration: none;
}

button {
  outline: none;
}


@media(max-width: 426px){
    .App {
        width: 90%;
    }
}
