.div-page-brushing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #3a54b4;
    margin-top: 5rem;
    padding: 0 6rem 2rem 6rem;
    height: 125%;
}

.div-page-brushing img {
    width: 70%;
    margin: 1rem 0;
}

.div-page-brushing p {
    margin: 0.9rem 0;
    font-weight: bold;
    font-size: 20px;
}

.div-page-brushing small{
    margin: 0.8rem 0;
}

.descripition-brushing{
    width: 60%;
}

.div-page-brushing form {
    width: 50%;
    padding: 0;
    background-color:#fff;
    padding-top: -10px;
    display: flex;
    flex-direction: column;
} 

.div-page-brushing form label {
    text-align: left;
    font-weight: bold;
    margin-top: 2rem;
}

.div-page-brushing form input {
    background-color: #fff;
    width: 100%;
    color: #3a54b4;
    border: solid 1px #3a54b4;
    outline: 0;
    margin: 0;
    margin: 1.5rem 0;
}   

.div-page-brushing form  .message-confirm-brushing{
    font-weight: bold;
    font-size: 17px;
    margin: 10px;
    color: #3a54b4;
}

@media(max-width: 769px){
    .div-page-brushing form {
        width: 75%;
    } 
}

@media(max-width: 426px){
    .div-page-brushing {
        padding: 0 0 6rem  0 ;
        height: 100%;
    }

    .descripition-brushing{
        width: 90%;
    }

    .div-page-brushing form {
        width: 95%;
    } 
}



