.div-page-brushing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #3a54b4;
    margin-top: 5rem;
    padding: 0 6rem 2rem 6rem;
    height: 125%;
}

.div-page-brushing img {
    width: 80%;
    margin: 1rem 0;
}

.div-page-brushing p {
    margin: 0.9rem 0;
    font-weight: bold;
    font-size: 20px;
}

.div-page-brushing small{
    margin: 0.8rem 0;
}

.descripition-brushing{
    width: 60%;
}