.home-title{
    background-color: #fef7ed;
    height: 110vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3a54b4;
    transition: 500ms;
}

.title {
    max-width: 450px;
    font-size: 35px;
    margin-right: -35px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: left;
    flex: 1;
}

.title .title-h1{
    font-size: 8.9rem;
    font-weight: bold;
    line-height: 7rem;
    margin-top: -40px;
}

.title p {
    margin: 25px 0 25px 0;
}

.img-title img{
    margin-right: -45px;
}

@media(max-width: 769px){
    .home-title{
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 20px 50px;
        margin: auto;
    }

    .img-title{
        margin-right: 1rem;
    }
    
    .img-title img {        
        width: 20rem;
    }
} 

@media(max-width: 426px) {
    .home-title{
        text-align: center;
        flex-direction: column;
        height: 100%;       
        width: 100%; 
        padding-bottom: 5rem;
    }
    
    .title {
        margin-right: 0;
        margin-top: 150px;
        font-size: 25px;
        align-items: center;
        max-width: 100%;
    }

    .title .title-h1{
        font-size: 4rem;
        font-weight: bold;
        line-height: 7rem;
        margin-top: -3rem;
    }

    .title p {
        margin: 1rem 0 25px 0;
    }
    
    .img-title{
        order: -1
    }

    .img-title img{
        margin: 5rem 0 -7rem 1.5rem;
        width: 15rem;
    }

    .home-title .title a {
        width: 18rem;
    }
}

@media(max-width: 376px){
    .title .title-h1{
        font-size: 3rem;
        font-weight: bold;
        line-height: 7rem;
        margin-top: -3rem;
    }

    .title p {
        margin: 0.5rem 0 25px 0;
    }
}

@media(max-width: 321px){
    .home-title{
        text-align: center;
        flex-direction: column;
        height: 100%;       
        width: 110%;
        margin-left: -8px;
        padding-bottom: 5rem;
    }

    .home-title .title a {
        width: 15rem;
    }
}