.home-title{
    background-color: #fef7ed;
    height: 110vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3a54b4;
    transition: 500ms;
}

.title {
    max-width: 450px;
    font-size: 35px;
    margin-right: -35px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: left;
    flex: 1;
}

.title .title-h1{
    font-size: 150px;
    font-weight: bold;
    line-height: 125px;
    margin-top: -40px;
}

.title p {
    margin: 25px 0 25px 0;
}

.img-title img{
    margin-right: -45px;
}

@media(max-width: 769px){
    .home-title{
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 20px 50px;
        margin: auto;
    }

    .img-title{
        margin-right: 16px;
    }
    
    .img-title img {        
        width: 320px;
    }
} 

@media(max-width: 426px) {
    .home-title{
        text-align: center;
        flex-direction: column;
        height: 100%;       
        width: 110%;
        margin-left: -8px;
        padding-bottom: 80px;
    }
    
    .title {
        margin-right: 0;
        margin-top: 150px;
        font-size: 25px;
        align-items: center;
        max-width: 100%;
    }

    .title .title-h1{
        font-size: 64px;
        font-weight: bold;
        line-height: 112px;
        margin-top: -48px;
    }

    .title p {
        margin: 0px 0 25px 0;
    }
    
    .img-title{
        order: -1
    }

    .img-title img{
        margin: 80px 0 -112px 24px;
        width: 240px;
    }

    .home-title .title a {
        width: 288px;
    }
}

@media(max-width: 376px){


    .title .title-h1{
        font-size: 48px;
        font-weight: bold;
        line-height: 112px;
        margin-top: -48px;
    }

    .title p {
        margin: 0px 0 25px 0;
    }
}

@media(max-width: 321px){


    .home-title .title a {
        width: 240px;
    }

    .title p {
        margin: -10px 0 25px 0;
    }
}