.div-page-vaccination {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #3a54b4;
    margin-top: 5rem;
    padding: 0 6rem 2rem 6rem;
    height: 125%;
}

.div-page-vaccination img {
    width: 70%;
    margin: 1rem 0;
}

.div-page-vaccination p {
    margin: 0.9rem 0;
    font-weight: bold;
    font-size: 20px;
}

.div-page-vaccination small{
    margin: 0.8rem 0;
}

.descripition-vaccination{
    width: 60%;
}

.div-page-vaccination form {
    width: 50%;
    background-color:#fff;
    padding: 0;
    padding-top: -10px;
    display: flex;
    flex-direction: column;
} 

.div-page-vaccination form label {
    text-align: left;
    font-weight: bold;
    margin-top: 1rem;
}

.div-page-vaccination form input {
    background-color: #fff;
    width: 100%;
    color: #3a54b4;
    border: solid 1px #3a54b4;
    outline: 0;
    margin: 0;
    margin: 1.5rem 0;
}   

@media(max-width: 769px){
    .div-page-vaccination form {
        width: 75%;
    } 
}

