.div-page-dental-care {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #3a54b4;
    margin-top: 5rem;
    padding: 0 6rem 2rem 6rem;
    height: 125%;
}

.div-page-dental-care img {
    width: 70%;
    margin: 1rem 0;
}

.div-page-dental-care p {
    margin: 0.9rem 0;
    font-weight: bold;
    font-size: 20px;
}

.div-page-dental-care small{
    margin: 0.8rem 0;
}

.descripition-dental-care{
    width: 60%;
}

.div-page-dental-care form {
    width: 50%;
    padding: 0;
    background-color: #fff;
    padding-top: -10px;
    display: flex;
    flex-direction: column;
} 

.div-page-dental-care form label {
    text-align: left;
    font-weight: bold;
    margin-top: 2rem;
}

.div-page-dental-care form input {
    background-color: #fff;
    width: 100%;
    color: #3a54b4;
    border: solid 1px #3a54b4;
    outline: 0;
    margin: 0;
    margin: 1.5rem 0;
}   

@media(max-width: 769px){
    .div-page-dental-care form {
        width: 75%;
    } 
}

@media(max-width: 426px){
    .div-page-dental-care {
        padding: 0 0 6rem  0 ;
        height: 100%;
    }

    .descripition-dental-care{
        width: 90%;
    }
}



