button {
    padding: 15px 10px;
    width: 50%;
    color: #fff;
    background-color: #3a54b4;
    border: 0;
}

button:hover {
    opacity: 0.7;
    transition: 0.5s;
    cursor: pointer;
}

@media(max-width: 426px) {
    button {
        width: 75%;
    }
}
