.home-title{
    background-color: #fef7ed;
    height: 135vh;
    margin-top: 250px;
}

.home-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -75px;
    color: #3a54b4;

}



.title {
    max-width: 450px;
    font-size: 35px;
    margin-right: 0px;
    font-weight: 300;

    display: flex;
    flex-direction: column;
    align-items: left;
    flex: 1;
}

.title .title-h1{
    font-size: 8.9rem;
    font-weight: bold;
    line-height: 7rem;
    margin-top: -40px;
}

.title p {
    margin: 25px 0 25px 0;
}

.img-title img{
    margin-right: 0;
}


