.home-title{
    background-color: #fef7ed;
    height: 125vh;
    margin-top: 275px;
}

.home-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
    color: #3a54b4;
}

.title {
    max-width: 450px;
    font-size: 35px;
    margin-right: -35px;
    font-weight: 300;

    display: flex;
    flex-direction: column;
    align-items: left;
    flex: 1;
}

.title .title-h1{
    font-size: 8.9rem;
    font-weight: bold;
    line-height: 7rem;
    margin-top: -40px;
}

.title p {
    margin: 25px 0 25px 0;
}

.img-title img{
    margin-right: -45px;
}

.home-about {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3a54b4;
    margin-top: 3rem;
    padding: 0 6rem 0 10rem;
    height: 100vh;
}

.img-about {
    margin-right: 3rem;
}

.title-about {
    max-width: 450px;
    font-size: 32px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: left;
    flex: 1;
    margin-left: 3rem;
}

.title-about h1{
    font-size: 8.9rem;
    font-weight: bold;
    line-height: 7rem;
    margin-top: -40px;
}

.title-about p {
    max-width: 350px;
    font-size: 16px;
    margin: 25px 0 25px 0;
    letter-spacing: .2rem;
    line-height: 1.4rem;
    font-weight: 300;
}

.home-services {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cards-services{
    display: flex;
    justify-content: space-around;
}

@media(max-width:769px){
    .home-title {
        flex-direction: column;
        max-width: 100vw;
    }

    .img-title img{
        width: 375px;
    }
}
